table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 1000px;
  display: inline-flex;
}
  
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  min-width: 100px;
  min-height: 20px;
  text-align: center;
  background: #fff;
}
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
  min-width: 100px;
  min-height: 30px;
  text-align: center;
  background: #eee;

}
.teamY, .teamX {
  background: #eee;
}
.bold {
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.text-success {
  background-color: yellow;
}