<h2>
  Show Me the Winners!!!
</h2>

<div class="column-container">
      <div class="column">
        <div class="title">
              Winner
        </div>
        <div class='' *ngFor="let winningNum of winningNumsTable" >
          <div class="row">
            {{winningNum.user}}
          </div>
        </div>
      </div>
      <div class="column">
        <div class="title">
              Money Won
        </div>
        <div class='' *ngFor="let winningNum of winningNumsTable" >
            <div class="row">
              ${{winningNum.money}}
            </div>
          </div>
        </div>
</div>
