<!-- <app-game-results> selector from app.component.ts -->
      
  <!-- loading layout replaced by app after startupp -->
  <!-- <div class="app-loading">
    <div class="logo"></div>
    <svg class="spinner" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
  </div> -->



<h2>
  Show Me the Winners!!!
</h2>

<div class="column-container">
    <div class="column">
        <div class="title">
              Winning Amount
        </div>
        <div class='' *ngFor="let user of winningNumsTable" >
            <!-- <div *ngIf="user.money == 0"> -->
              <div class="row">
                <div class="cell">
                </div>
                <div class="cell">
                  ${{user.money}}
                </div>
                <div class="cell">
                  {{user.user}}
                </div>
              </div>
            <!-- </div> -->
          </div>
    </div>



      <div class="column">
        <div class="title">
              Round 1
        </div>
        <div class='' *ngFor="let winningNum of winningNumsTable" >
          <div *ngIf="winningNum.round.includes('round-1')">
            <div class="row">
              <div class="cell">
                {{winningNum.user}}
              </div>
              <div class="cell">
                ${{winningNum.money}}
              </div>
              <div class="cell">
                {{winningNum._id}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="title">
              Round 2
        </div>
        <div class='' *ngFor="let winningNum of winningNumsTable" >
          <div *ngIf="winningNum.round.includes('round-2')">
              <div class="row">
                <div class="cell">
                  {{winningNum.user}}
                </div>
                <div class="cell">
                  ${{winningNum.money}}
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="column">
          <div class="title">
                Round 3
          </div>
          <div class='' *ngFor="let winningNum of winningNumsTable" >
              <div *ngIf="winningNum.round.includes('round-3')">
                <div class="row">
                  <div class="cell">
                    {{winningNum.user}}
                  </div>
                  <div class="cell">
                    ${{winningNum.money}}
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="column">
          <div class="title">
                Round 4
          </div>
          <div class='' *ngFor="let winningNum of winningNumsTable" >
            <div *ngIf="winningNum.round.includes('round-4')">
                <div class="row">
                  <div class="cell">
                    {{winningNum.user}}
                  </div>
                  <div class="cell">
                    ${{winningNum.money}}
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="column">
          <div class="title">
                Final Games
          </div>
          <div class='' *ngFor="let winningNum of winningNumsTable" >
            <div *ngIf="winningNum.round.includes('final-games')">
                <div class="row">
                  <div class="cell">
                    {{winningNum.user}}
                  </div>
                  <div class="cell">
                    ${{winningNum.money}}
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="column">
            <div class="title">
                  Champion!
            </div>
            <div class='' *ngFor="let winningNum of winningNumsTable" >
              <div *ngIf="winningNum.round.includes('champ-game')">
                  <div class="row">
                    <div class="cell">
                      {{winningNum.user}}
                    </div>
                    <div class="cell">
                      ${{winningNum.money}}
                    </div>
                  </div>
                </div>
              </div>
          </div>
</div>



<!-- </app-game-results> -->