<div class="description">
  <div class="title">
      <h1>About Squares Game</h1>
  </div>

  <div class="sub-title">
    <h2>
      Rules
    </h2>
  </div>
  <p>
    The Squares App is a game, commonly known as football squares or squares game. 
    The game consists of a grid of 100 columns and 10 rows, 2 sports teams, and X amount of users. 
  </p>
  <p>
    One team is assigned to the columns and one team is assigned to the rows. Each column is randomly assigned a number 0 through 9. Each row is
    randomly assigned a number 0 through 9. Assign each cell a user's name. 
  </p>
  <p>
    After all the cells have been filled with users, wait for the games to be played. 
  </p>
  <p>
    The last digit of team X's score (the team of the columns) and the last digit of team Y's score (the team of the rows) determines the winning cell. 
  </p>
  <p>
    Depending on the preference of the group, the winning numbers can be at the end of periods, quarters, and/or games. 
  </p>
</div>
<div class="api">
  <div class="sub-title">
    <h2>
      NCAA Tournament Scores API
    </h2>
  </div>
    <p>
      NCAA does not provide an open source API, so I created my own. I created a webpage scraper to pull the data, parse it and render the array of objects. The array is hosted on 
      using node/express. 
    </p>
    <p>
      The URL I used to scrape the scores - <a href="https://www.ncaa.com/brackets/basketball-men/d1/2019" class="href">2019 Mens NCAA Official Bracket</a>
    </p>      
    <p>
      The public API I created using NodeJS can be found at <a href="https://chrisshimmin.com/api/ncaa">https://chrisshimmin.com/api/ncaa</a>
    </p>
</div>
    
<div class="development">
  <div class="sub-title">
    <h2>
      Built With
    </h2>
  </div>
    <ul>
      <li>
         <a href="https://aws.amazon.com/" class="href">AWS</a> - Hosts the production site. 
      </li>
      <li>
          <a href="https://nginx.org/en/docs/" class="href">Nginx</a> - Server used on AWS. 
      </li>
      <li>
          <a href="https://cloud.mongodb.com/user#/atlas/login" class="href">MongoDB Cloud</a> - Object tables used for the Database
      </li>
      <li>
          <a href="https://github.com/Automattic/mongoose" class="href">Mongoose</a> - MongoDB object modeling tool
      </li>
      <li>
          <a href="https://github.com/microsoft/TypeScript" class="href">TypeScript</a> - Compiles to readable, standards-based JavaScript. Standard for Angular CLI. 
      </li>
      <li>
          <a href="https://cli.angular.io/" class="href">Angular CLI</a> - Development tool and library specialized for Angular.
      </li>
      <li>
          <a href="https://github.com/nodejs/node" class="href">NodeJS</a> - JavaScript runtime built on Chrome's V8 JavaScript engine.
      </li>
      <li>
          <a href="https://github.com/expressjs/express" class="href">Express</a> - Web framework for node.
      </li>
      <li>
          <a href="https://github.com/request/request-promise" class="href">request-promise</a> - A simplified HTTP request with Promise support. Used to scrape the HTML from a URL. 
      </li>
      <li>
          <a href="https://github.com/cheeriojs/cheerio" class="href">cheerio</a> - jQuery designed specifically for the server. Used to parse the HTML. 
      </li>

    </ul>
</div>
