<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <nav>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/game-results">Game Results</a>
  </nav>
  <!-- <app-game-results></app-game-results> -->
</div>


<router-outlet></router-outlet>

<table>
    <tr id="squareResults">
        <th></th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
        <th>8</th>
        <th>9</th>
        <th>10</th>
    </tr>
    <tr class='square' >
        <td class="bold">1</td>
        <td *ngFor="let square of squaresTable | slice:0:10;">{{square.user}}</td>
    </tr>
    <tr class='square' >
        <td class="bold">2</td>
        <td *ngFor="let square of squaresTable | slice:10:20;">{{square.user}}</td>
    </tr>
    <tr class='square' >
        <td class="bold">3</td>
        <td *ngFor="let square of squaresTable | slice:20:30;">{{square.user}}</td>
    </tr>
    <tr class='square' >
        <td class="bold">4</td>
        <td *ngFor="let square of squaresTable | slice:30:40;">{{square.user}}</td>
    </tr>
    <tr class='square' >
        <td class="bold">5</td>
        <td *ngFor="let square of squaresTable | slice:40:50;">{{square.user}}</td>
    </tr>
    <tr class='square' >
        <td class="bold">6</td>
        <td *ngFor="let square of squaresTable | slice:50:60;">{{square.user}}</td>
    </tr>
    <tr class='square' >
        <td class="bold">7</td>
        <td *ngFor="let square of squaresTable | slice:60:70;">{{square.user}}</td>
    </tr>
    <tr class='square' >
        <td class="bold">8</td>
        <td *ngFor="let square of squaresTable | slice:70:80;">{{square.user}}</td>
    </tr>
    <tr class='square' >
        <td class="bold">9</td>
        <td *ngFor="let square of squaresTable | slice:80:90;">{{square.user}}</td>
    </tr>
    <tr class='square' >
        <td class="bold">10</td>
        <td *ngFor="let square of squaresTable | slice:90:100;">{{square.user}}</td>
    </tr>
  </table>
<br>
<app-messages></app-messages>
