$red : #fe4a49;
$blue: #2ab7ca;
$yellow: #fed766;
$gray: #e6e6ea;
$light-gray: #f4f4f8;
$white: #fff;

html, body, div, h1, h2, h3, h4, h5, p, a {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;

}

.container {
  margin: 0 100px;
}

h1 {
  // color: #369;
  color: $blue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 400px;
  display: inline-flex;
}
  
td, th {
  border: 1px solid $gray;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: $gray;
}

nav {
  width: 100%;
  background: $yellow;
  height: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
}
nav > a {
  color: $light-gray;
  font-size: 1.5em;
  padding: 0 10px;
  display: inline-flex;
  align-items: center;
}
nav > ul > li {
  padding: 10px 0;
}
ol {
  list-style: initial;
  list-style-type: decimal;
}
