<br>

<div *ngIf="square">
    <div>
      <label>Game ID: {{square._id}} <br>
        <!-- <input [(ngModel)]="square._id" placeholder="name"> -->
      </label>
      <br>
      <label>Game User: {{square.user}} <br>
        <input [(ngModel)]="square.user" placeholder="name">
      </label>
      <br>
      <br>
      <label>Square teamY: {{square.teamY}} <br>
        <input [(ngModel)]="square.teamY" placeholder="name">
      </label>
      <br>
      <br>
      <label>Square teamX: {{square.teamX}} <br>
        <input [(ngModel)]="square.teamX" placeholder="name">
      </label>
    </div>
  </div>

<br>
<br>
<button class="secondary gray" (click)="goBack()">GO BACK</button>
<button class="primary blue" (click)="save()">Save</button>
