<br>

<div *ngFor="let item of squaresTable; let i = index;"  [ngClass]="{'active': true}">
    <div *ngIf ="item._id == square._id && i == 0 || item._id == square._id && i == 10 || item._id == square._id && i == 20
        || item._id == square._id && i == 30 || item._id == square._id && i == 40 || item._id == square._id && i == 50
        || item._id == square._id && i == 60 || item._id == square._id && i == 70 || item._id == square._id && i == 80
        || item._id == square._id && i == 90" >
        <div>
            <label>Game ID: {{square._id}} <br>
            </label>
            <br>
            <label>Game User: {{square.user}} <br>
              <input [(ngModel)]="square.user" placeholder="name">
            </label>
            <br>
            <br>
            <label>Square teamY: {{square.teamY}} <br>
              <input [(ngModel)]="square.teamY" placeholder="name" >
            </label>
            <br>
            <br>
            <label>Square teamX: {{square.teamX}} <br>
              <input [(ngModel)]="square.teamX" placeholder="name">
            </label>
        </div>
    </div>
  </div>
  



<br>

<div *ngFor="let item of squaresTable | slice:1:10"  [ngClass]="{'active': true}">
    <div *ngIf ="item._id == square._id; else templateName" >
  
        <div>
            <label>Game ID: {{square._id}} <br>
            </label>
            <br>
            <label>Game User: {{square.user}} <br>
              <input [(ngModel)]="square.user" placeholder="name" >
            </label>
            <br>
            <br>
            <label>Square teamY: {{square.teamY}} <br>
              <input [(ngModel)]="square.teamY" placeholder="name" >
            </label>
            <br>
            <br>
            <label>Square teamX: {{square.teamX}} <br>
              <input [(ngModel)]="square.teamX" placeholder="name" >
            </label>
        </div>
  
    </div>
  </div>
  <div *ngFor="let item of squaresTable | slice:11:20"  [ngClass]="{'active': true}">
      <div *ngIf ="item._id == square._id; else templateName" disabled >
    
          <div>
              <label>Game ID: {{square._id}} <br>
              </label>
              <br>
              <label>Game User: {{square.user}} <br>
                <input [(ngModel)]="square.user" placeholder="name" >
              </label>
              <br>
              <br>
              <label>Square teamY: {{square.teamY}} <br>
                <input [(ngModel)]="square.teamY" placeholder="name" disabled>
              </label>
              <br>
              <br>
              <label>Square teamX: {{square.teamX}} <br>
                <input [(ngModel)]="square.teamX" placeholder="name" disabled>
              </label>
          </div>
    
      </div>
    </div>
    <div *ngFor="let item of squaresTable | slice:21:30"  [ngClass]="{'active': true}">
        <div *ngIf ="item._id == square._id; else templateName" disabled >
      
            <div>
                <label>Game ID: {{square._id}} <br>
                </label>
                <br>
                <label>Game User: {{square.user}} <br>
                  <input [(ngModel)]="square.user" placeholder="name" >
                </label>
                <br>
                <br>
                <label>Square teamY: {{square.teamY}} <br>
                  <input [(ngModel)]="square.teamY" placeholder="name" disabled>
                </label>
                <br>
                <br>
                <label>Square teamX: {{square.teamX}} <br>
                  <input [(ngModel)]="square.teamX" placeholder="name" disabled>
                </label>
            </div>
      
        </div>
      </div>
      <div *ngFor="let item of squaresTable | slice:31:40"  [ngClass]="{'active': true}">
          <div *ngIf ="item._id == square._id; else templateName" disabled >
        
              <div>
                  <label>Game ID: {{square._id}} <br>
                  </label>
                  <br>
                  <label>Game User: {{square.user}} <br>
                    <input [(ngModel)]="square.user" placeholder="name" >
                  </label>
                  <br>
                  <br>
                  <label>Square teamY: {{square.teamY}} <br>
                    <input [(ngModel)]="square.teamY" placeholder="name" disabled>
                  </label>
                  <br>
                  <br>
                  <label>Square teamX: {{square.teamX}} <br>
                    <input [(ngModel)]="square.teamX" placeholder="name" disabled>
                  </label>
              </div>
        
          </div>
        </div>
        <div *ngFor="let item of squaresTable | slice:41:50"  [ngClass]="{'active': true}">
            <div *ngIf ="item._id == square._id; else templateName" disabled >
          
                <div>
                    <label>Game ID: {{square._id}} <br>
                    </label>
                    <br>
                    <label>Game User: {{square.user}} <br>
                      <input [(ngModel)]="square.user" placeholder="name" >
                    </label>
                    <br>
                    <br>
                    <label>Square teamY: {{square.teamY}} <br>
                      <input [(ngModel)]="square.teamY" placeholder="name" disabled>
                    </label>
                    <br>
                    <br>
                    <label>Square teamX: {{square.teamX}} <br>
                      <input [(ngModel)]="square.teamX" placeholder="name" disabled>
                    </label>
                </div>
          
            </div>
          </div>
          <div *ngFor="let item of squaresTable | slice:51:60"  [ngClass]="{'active': true}">
              <div *ngIf ="item._id == square._id; else templateName" disabled >
            
                  <div>
                      <label>Game ID: {{square._id}} <br>
                      </label>
                      <br>
                      <label>Game User: {{square.user}} <br>
                        <input [(ngModel)]="square.user" placeholder="name" >
                      </label>
                      <br>
                      <br>
                      <label>Square teamY: {{square.teamY}} <br>
                        <input [(ngModel)]="square.teamY" placeholder="name" disabled>
                      </label>
                      <br>
                      <br>
                      <label>Square teamX: {{square.teamX}} <br>
                        <input [(ngModel)]="square.teamX" placeholder="name" disabled>
                      </label>
                  </div>
            
              </div>
            </div>
            <div *ngFor="let item of squaresTable | slice:61:70"  [ngClass]="{'active': true}">
                <div *ngIf ="item._id == square._id; else templateName" disabled >
              
                    <div>
                        <label>Game ID: {{square._id}} <br>
                        </label>
                        <br>
                        <label>Game User: {{square.user}} <br>
                          <input [(ngModel)]="square.user" placeholder="name" >
                        </label>
                        <br>
                        <br>
                        <label>Square teamY: {{square.teamY}} <br>
                          <input [(ngModel)]="square.teamY" placeholder="name" disabled>
                        </label>
                        <br>
                        <br>
                        <label>Square teamX: {{square.teamX}} <br>
                          <input [(ngModel)]="square.teamX" placeholder="name" disabled>
                        </label>
                    </div>
              
                </div>
              </div>
              <div *ngFor="let item of squaresTable | slice:71:80"  [ngClass]="{'active': true}">
                  <div *ngIf ="item._id == square._id; else templateName" disabled >
                
                      <div>
                          <label>Game ID: {{square._id}} <br>
                          </label>
                          <br>
                          <label>Game User: {{square.user}} <br>
                            <input [(ngModel)]="square.user" placeholder="name" >
                          </label>
                          <br>
                          <br>
                          <label>Square teamY: {{square.teamY}} <br>
                            <input [(ngModel)]="square.teamY" placeholder="name" disabled>
                          </label>
                          <br>
                          <br>
                          <label>Square teamX: {{square.teamX}} <br>
                            <input [(ngModel)]="square.teamX" placeholder="name" disabled>
                          </label>
                      </div>
                
                  </div>
                </div>
                <div *ngFor="let item of squaresTable | slice:81:90"  [ngClass]="{'active': true}">
                    <div *ngIf ="item._id == square._id; else templateName" disabled >
                  
                        <div>
                            <label>Game ID: {{square._id}} <br>
                              <!-- <input [(ngModel)]="square._id" placeholder="name" disabled> -->
                            </label>
                            <br>
                            <label>Game User: {{square.user}} <br>
                              <input [(ngModel)]="square.user" placeholder="name" >
                            </label>
                            <br>
                            <br>
                            <label>Square teamY: {{square.teamY}} <br>
                              <input [(ngModel)]="square.teamY" placeholder="name" disabled>
                            </label>
                            <br>
                            <br>
                            <label>Square teamX: {{square.teamX}} <br>
                              <input [(ngModel)]="square.teamX" placeholder="name" disabled>
                            </label>
                        </div>
                  
                    </div>
                  </div>
                  <div *ngFor="let item of squaresTable | slice:91:100"  [ngClass]="{'active': true}">
                      <div *ngIf ="item._id == square._id; else templateName" disabled >
                    
                          <div>
                              <label>Game ID: {{square._id}} <br>
                              </label>
                              <br>
                              <label>Game User: {{square.user}} <br>
                                <input [(ngModel)]="square.user" placeholder="name" >
                              </label>
                              <br>
                              <br>
                              <label>Square teamY: {{square.teamY}} <br>
                                <input [(ngModel)]="square.teamY" placeholder="name" disabled>
                              </label>
                              <br>
                              <br>
                              <label>Square teamX: {{square.teamX}} <br>
                                <input [(ngModel)]="square.teamX" placeholder="name" disabled>
                              </label>
                          </div>
                    
                      </div>
                    </div>
  

<br>


  
<button class="secondary gray" (click)="goBack()">GO BACK</button>
<button class="primary blue" (click)="save()">Save</button>
