$red : #fe4a49;
$blue: #2ab7ca;
$yellow: #fed766;
$gray: #e6e6ea;
$light-gray: #f4f4f8;
$black: #333;

button {
  background-color: #333;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
button.primary.blue {
    background-color: $blue;
    &:hover {
        background-color: $yellow;
    }
}
button.secondary.gray {
    background-color: $gray;
    color: $black;
    &:hover {
        background-color: $light-gray;
    }
}