<div class="description">
    <div class="title">
        <h1>Game Table About</h1>
    </div>
    <div class="list">
        <ol>
        <li>
            The winning square row macthes the last digit of the winning team's score score and the winning team square column matches the last digit of the losing team's score. 
        </li>
        <li>
            You win if your square has both column and row correct for the same game, quarter, etc.  
        </li>
        <li>
            Click the square that you believe will win.       
        </li>
        <li>
            Insert your name and save. 
        </li>

        </ol>
        
    </div>
</div>
    
<br>
<br>


<table>
    <tr>
        <td></td>
        <td colspan="11">WINNING NUMBERS</td>
    </tr>
    <tr id="squareResults">
        <td rowspan="11"> LOSING NUMBERS </td>
        <th>  </th>
        <th *ngFor="let square of squaresTable | slice:0:10">
            <div *ngIf="square.teamX == editCell">
                <input type="text" [(ngModel)]="square.teamX">
            </div>
            <div *ngIf="square.teamX !== editCell" routerLink="/square/{{square._id}}"  class="square-content" (click)="toggle(square.teamX)">
                {{square.teamX}}
            </div>
        </th>
    </tr>
    <tr class='square' >    
        <th class="bold" *ngFor="let square of squaresTable | slice:0:1"> 
            <div *ngIf="square.teamX == editCell">
                <input type="text" [(ngModel)]="square.teamX">
            </div>
            <div *ngIf="square.teamX !== editCell" routerLink="/square/{{square._id}}"  class="square-content" (click)="toggle(square.teamX)">
                {{square.teamY}} 
            </div>
        </th>
        <td *ngFor="let square of squaresTable | slice:0:10;"   [ngClass]="{ 'text-success': winningNumsTable.indexOf(square) != -1, 'failure' :  square == false }" >
            <div *ngIf="square.teamX == editCell">
                <input type="text" [(ngModel)]="square.teamX">
            </div>
            <div *ngIf="square.teamX !== editCell" routerLink="/square/{{square._id}}"  class="square-content" (click)="toggle(square.teamX)">
               {{square.user}}
            </div>
        </td>
    </tr>
    <tr class='square' >    
        <th class="bold" *ngFor="let square of squaresTable | slice:10:11"> 
            <div *ngIf="square.teamX == editCell">
                <input type="text" [(ngModel)]="square.teamX">
            </div>
            <div *ngIf="square.teamX !== editCell" routerLink="/square/{{square._id}}"  class="square-content" (click)="toggle(square.teamX)">
                {{square.teamY}} 
            </div>
        </th>
        <td *ngFor="let square of squaresTable | slice:10:20;"  [ngClass]="{ 'text-success': winningNumsTable.indexOf(square) != -1, 'failure' :  square == false }" >
        
          <div *ngIf="square.teamX == editCell">
                <input type="text" [(ngModel)]="square.teamX">
            </div>
            <div *ngIf="square.teamX !== editCell" routerLink="/square/{{square._id}}"  class="square-content" (click)="toggle(square.teamX)">
               {{square.user}}
            </div>
        
        </td>
    </tr>
    <tr class='square' >    
        <th class="bold" *ngFor="let square of squaresTable | slice:20:21"> 
                <div *ngIf="square.teamX == editCell">
                    <input type="text" [(ngModel)]="square.teamX">
                </div>
                <div *ngIf="square.teamX !== editCell" routerLink="/square/{{square._id}}"  class="square-content" (click)="toggle(square.teamX)">
                    {{square.teamY}} 
                </div>
            </th>
        <td *ngFor="let square of squaresTable | slice:20:30;"  [ngClass]="{ 'text-success': winningNumsTable.indexOf(square) != -1, 'failure' :  square == false }" >
        
          <div *ngIf="square.teamX == editCell">
                <input type="text" [(ngModel)]="square.teamX">
            </div>
            <div *ngIf="square.teamX !== editCell" routerLink="/square/{{square._id}}"  class="square-content" (click)="toggle(square.teamX)">
               {{square.user}}
            </div>
        
        </td>
    </tr>
    <tr class='square' >    
        <th class="bold" *ngFor="let square of squaresTable | slice:30:31"> 
            <div *ngIf="square.teamX == editCell">
                <input type="text" [(ngModel)]="square.teamX">
            </div>
            <div *ngIf="square.teamX !== editCell" routerLink="/square/{{square._id}}"  class="square-content" (click)="toggle(square.teamX)">
                {{square.teamY}} 
            </div>
        </th>
        <td *ngFor="let square of squaresTable | slice:30:40;"  [ngClass]="{ 'text-success': winningNumsTable.indexOf(square) != -1, 'failure' :  square == false }" >
        
          <div *ngIf="square.teamX == editCell">
                <input type="text" [(ngModel)]="square.teamX">
            </div>
            <div *ngIf="square.teamX !== editCell" routerLink="/square/{{square._id}}"  class="square-content" (click)="toggle(square.teamX)">
               {{square.user}}
            </div>
        
        </td>
    </tr>
    <tr class='square' >    
        <th class="bold" *ngFor="let square of squaresTable | slice:40:41"> 
            <div *ngIf="square.teamX == editCell">
                <input type="text" [(ngModel)]="square.teamX">
            </div>
            <div *ngIf="square.teamX !== editCell" routerLink="/square/{{square._id}}"  class="square-content" (click)="toggle(square.teamX)">
                {{square.teamY}} 
            </div>
        </th>
        <td *ngFor="let square of squaresTable | slice:40:50;"  [ngClass]="{ 'text-success': winningNumsTable.indexOf(square) != -1, 'failure' : false }" >
        
          <div *ngIf="square.teamX == editCell">
                <input type="text" [(ngModel)]="square.teamX">
            </div>
            <div *ngIf="square.teamX !== editCell" routerLink="/square/{{square._id}}"  class="square-content" (click)="toggle(square.teamX)">
               {{square.user}}
            </div>
        
        </td>
    </tr>
    <tr class='square' >    
        <th class="bold" *ngFor="let square of squaresTable | slice:50:51"> 
            <div *ngIf="square.teamX == editCell">
                <input type="text" [(ngModel)]="square.teamX">
            </div>
            <div *ngIf="square.teamX !== editCell" routerLink="/square/{{square._id}}"  class="square-content" (click)="toggle(square.teamX)">
                {{square.teamY}} 
            </div>
        </th>
        <td *ngFor="let square of squaresTable | slice:50:60;"  [ngClass]="{ 'text-success': winningNumsTable.indexOf(square) != -1, 'failure' : false }" >
        
          <div *ngIf="square.teamX == editCell">
                <input type="text" [(ngModel)]="square.teamX">
            </div>
            <div *ngIf="square.teamX !== editCell" routerLink="/square/{{square._id}}"  class="square-content" (click)="toggle(square.teamX)">
               {{square.user}}
            </div>
        
        </td>
    </tr>
    <tr class='square' >    
        <th class="bold" *ngFor="let square of squaresTable | slice:60:61"> 
                <div *ngIf="square.teamX == editCell">
                    <input type="text" [(ngModel)]="square.teamX">
                </div>
                <div *ngIf="square.teamX !== editCell" routerLink="/square/{{square._id}}"  class="square-content" (click)="toggle(square.teamX)">
                    {{square.teamY}} 
                </div>
        </th>
        <td *ngFor="let square of squaresTable | slice:60:70;"  [ngClass]="{ 'text-success': winningNumsTable.indexOf(square) != -1, 'failure' : false }" >
        
          <div *ngIf="square.teamX == editCell">
                <input type="text" [(ngModel)]="square.teamX">
            </div>
            <div *ngIf="square.teamX !== editCell" routerLink="/square/{{square._id}}"  class="square-content" (click)="toggle(square.teamX)">
               {{square.user}}
            </div>
        
        </td>
    </tr>
    <tr class='square' >    
        <th class="bold" *ngFor="let square of squaresTable | slice:70:71"> 
            <div *ngIf="square.teamX == editCell">
                <input type="text" [(ngModel)]="square.teamX">
            </div>
            <div *ngIf="square.teamX !== editCell" routerLink="/square/{{square._id}}"  class="square-content" (click)="toggle(square.teamX)">
                {{square.teamY}} 
            </div>
        </th>
        <td *ngFor="let square of squaresTable | slice:70:80;"  [ngClass]="{ 'text-success': winningNumsTable.indexOf(square) != -1, 'failure' : false }" >
        
          <div *ngIf="square.teamX == editCell">
                <input type="text" [(ngModel)]="square.teamX">
            </div>
            <div *ngIf="square.teamX !== editCell" routerLink="/square/{{square._id}}"  class="square-content" (click)="toggle(square.teamX)">
               {{square.user}}
            </div>
        
        </td>
    </tr>
    <tr class='square' >    
        <th class="bold" *ngFor="let square of squaresTable | slice:80:81"> 
            <div *ngIf="square.teamX == editCell">
                <input type="text" [(ngModel)]="square.teamX">
            </div>
            <div *ngIf="square.teamX !== editCell" routerLink="/square/{{square._id}}"  class="square-content" (click)="toggle(square.teamX)">
                {{square.teamY}} 
            </div>
        </th>
        <td *ngFor="let square of squaresTable | slice:80:90;"  [ngClass]="{ 'text-success': winningNumsTable.indexOf(square) != -1, 'failure' : false }" >
        
          <div *ngIf="square.teamX == editCell">
                <input type="text" [(ngModel)]="square.teamX">
            </div>
            <div *ngIf="square.teamX !== editCell" routerLink="/square/{{square._id}}"  class="square-content" (click)="toggle(square.teamX)">
               {{square.user}}
            </div>
        
        </td>
    </tr>
    <tr class='square' >    
        <th class="bold" *ngFor="let square of squaresTable | slice:90:91"> 
            <div *ngIf="square.teamX == editCell">
                <input type="text" [(ngModel)]="square.teamX">
            </div>
            <div *ngIf="square.teamX !== editCell" routerLink="/square/{{square._id}}"  class="square-content" (click)="toggle(square.teamX)">
                {{square.teamY}} 
            </div>
        </th>
        <td *ngFor="let square of squaresTable | slice:90:100;"  [ngClass]="{ 'text-success': winningNumsTable.indexOf(square) != -1, 'failure' : false }" >
        
          <div *ngIf="square.teamX == editCell">
                <input type="text" [(ngModel)]="square.teamX">
            </div>
            <div *ngIf="square.teamX !== editCell" routerLink="/square/{{square._id}}"  class="square-content" (click)="toggle(square.teamX)">
               {{square.user}}
            </div>
        
        </td>
    </tr>

  </table>


